<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<h1>Success</h1>
	<p th:text="${filename}+' successfully uploaded'"></p>
	<table>
		<tr th:each="p:${products}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.name}"></td>
			<td th:text="${p.brand}"></td>
			<td th:text="${p.price}"></td>
			<td th:text="${p.edate}"></td>
			<td th:text="${p.stock}"></td>
			<td th:text="${p.category}"></td>
			<td ><img th:src="${p.imgurl1}" width="100px" height="50px" alt="Image not found"></td>
	
			
		</tr>
	</table>
</body>

</html>